{
  "presets": ["es2015"],
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-umd",
    ["add-header-comment", {
      "header": [
        "@license MIT",
        "Copyright (c) 2017 Bernhard Grünewaldt",
        "https://github.com/codeclou/bilderrahmen"
      ],
      "commentLineStart": " * ",
      "commentStart": "!\n",
      "commentEnd": "\n "
    }]
  ]
}
